body {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

/* .main {
    justify-content: center;
    display: flex;
    flex-direction: row;
} */

h2 {
    color: white;
    align-items: center;
    
}

.logo {
    width: 50%;
}

#logo {
    height: 250px;
    width: 400px;
}

.info {
    padding: 20px;
}

.box {
    width: 50%;
    height: 600px;
    text-align: center;
}

#username {
    font-size: 40px ;
    color: white;
    margin-right: 100px;
}

#score {
    font-size: 40px;
    color: white;
    margin-top: 20px;
}

#results {
    font-size: 50px;
    color: white;
    margin-top: 20px;
}

.game {
    width: 40%;
    font-size: 25px;
    text-align: center;
    justify-content: center;
}

.bottom {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

#dealer-cards img {
    height: 200px;
    width: 145px;
    margin: 0 10px;
}

#your-cards img {
    height: 250px;
    width: 175px;
    margin: 0 20px;
    box-shadow: 0 0 20px #000000;
}

button {
    justify-content: center;
    width: 170px;
    height: 80px;
    font-size: 30px;
    margin: 10px;
    background-image: linear-gradient(to right, #F2994A 0%, #F2C94C  51%, #F2994A  100%);
    border-radius: 10px;
    box-shadow: 0 0 20px #000000;
    cursor: pointer;
}

#reset {
    justify-content: center;
    width: 200px;
    height: 100px;
    font-size: 40px;
    margin: 10px;
    background-image: linear-gradient(to right, #F2994A 0%, #F2C94C  51%, #F2994A  100%);
    border-radius: 10px;
    box-shadow: 0 0 20px #000000;
    cursor: pointer;
    margin-left: 40%;
}

.buttons {
    margin-top: 20px;
}

.header {
    background-color: #000000a2;
    justify-content: space-between;
    width: 100%;
    display: flex;
    /* flex-direction: row; */
    /* position: relative; */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* position: relative; */
    top: -200px
}

.container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* position: relative; */
    top: -150px
}