@font-face {
    font-family: 'piratesWord';
    src: url(Font/Skullsandcrossbones-RppKM.ttf)
}

body {
    width: 99%;
    height: 99%;
    font-family: piratesWord;
    background-image: url("background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

h2 {
    color: white;
    align-items: center;
    
}

.logo {
    width: 33%;
    text-shadow: 2px 2px black;
    text-align: center;
    font-family: piratesWord;
    font-size: 90px;
    color : white
}

#logo {
    height: 70%;
    align-items: center;
    width: 80%;
}

.box {
    width: 33%;
    height: 100%;
    text-align: center;
}

#username {
    font-family: piratesWord;
    font-size: 30px ;
    color: white;
    text-shadow: 2px 2px black;
    /* background-color: rgba(0, 0, 0, 0.795);
    opacity: 0.7; */
}

#score {
    font-family: piratesWord;
    text-shadow: 2px 2px black;
    /* background-color: rgba(0, 0, 0, 0.795);
    opacity: 0.7; */
    font-size: 30px;
    color: rgb(34, 179, 14);
    margin-top: 20px;
}

#results {
    font-family: piratesWord;
    text-shadow: 2px 2px black;
    /* background-color: rgba(97, 18, 18, 0.795);
    opacity: 0.7; */
    font-size: 35px;
    color: white;
    margin-top: 20px;
}

.game {
    /* background-color: #F2994A; */
    width: 100%;
    font-size: 25px;
    text-align: center;
    justify-content: center;
}

#deck-cards img {
    height: 180px;
    width: 126px;
    margin: 0 10px;
}

#your-cards img {
    height: 180px;
    width: 126px;
    margin: 0 20px;
    box-shadow: 0 0 20px #000000;
}

button {
    justify-content: center;
    width: 170px;
    height: 80px;
    font-size: 30px;
    margin: 10px;
    margin-top: 20px;
    background-image: linear-gradient(to right, #F2994A 0%, #F2C94C  51%, #F2994A  100%);
    border-radius: 10px;
    box-shadow: 0 0 20px #000000;
    cursor: pointer;
}

#reset {
    justify-content: center;
    align-items: center;
    align-content: center;
}

.header {
   
    justify-content: space-between;
    width: 100%;
    height: 50%;
    display: flex;
}

.container {
    text-shadow: 2px 2px black;
    font-size: 17px;
    display: flex;
    width: 34%;
    flex-direction: column;
    align-items: center;
    top: -250px
    
}

.container1 {
    text-shadow: 2px 2px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: -150px
}

  